# Exemplo de configuração - COPIE PARA .env
SECRET_KEY=django-insecure-chave-generica-aqui
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.app.github.dev
DATABASE_URL=
REDIS_URL=
CSRF_TRUSTED_ORIGINS=https://*.onrender.com,https://*.app.github.dev